body {
    background-image: url(./img/2pmz.jpg);
    background-size: 120%;
    margin: 0;
    background-repeat: no-repeat;
    width: 100%;

}


.pronto {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 10rem;
    width: 100%;
    padding-top: 2rem;
    padding: 2rem;
    padding-top: 1rem;
    font-weight: bold;
    
}